Importing necessary libraries

In [25]:
import numpy as np
import pandas as pd
import sklearn

Using boston house pricing database

In [26]:
from sklearn.datasets import load_boston
ds = load_boston()

In [ ]:
ds.keys() #provides us with keys of the dataset

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

Displaying the data

In [ ]:
print(ds.DESCR)

In [ ]:
print(ds.target)

In [ ]:
print(ds.feature_names)

In [ ]:
print(ds.filename)

In [ ]:
print(ds.data)

Using pandas

In [27]:
boston=pd.DataFrame(ds.data,columns=ds.feature_names)
boston.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

Displaying target as well

In [28]:
boston['TRGT']=ds.target
boston.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  TRGT
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

Verifying that no null value exists

In [ ]:
boston.isnull()

In [ ]:
boston.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
TRGT       0
dtype: int64

Splitting the data to obtain a dataset for testing and training

In [29]:
from sklearn.model_selection import train_test_split
X=boston.drop('TRGT',axis=1)
Y=boston['TRGT']
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.15, random_state=7)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(430, 13)
(76, 13)
(430,)
(76,)

Using the linear regression model from sklearn

In [30]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [31]:
lin_model=LinearRegression()
lin_model.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [32]:
y_train_predict=lin_model.predict(X_train)
rmse=(np.sqrt(mean_squared_error(Y_train , y_train_predict)))
print("The model performance for the training set is")
print('RMSE is {}'.format(rmse))
print("\n")
#on testing set
y_train_predict=lin_model.predict(X_test)
rmse=(np.sqrt(mean_squared_error(Y_test,y_train_predict)))
print("The model performance for the testing set is")
print('RMSE is {}'.format(rmse))
print("\n")

The model performance for the training set is
RMSE is 4.754053781167871


The model performance for the testing set is
RMSE is 4.37564760833885